/* Regole Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

:root {
    --primary-color: #3684fd;
    --secondary-color: #9792e4;
    --primary-light-color: #85ddff;
    --secondary-light-color: #a39ee4;
    --footer-color: #333;
    --text-white: #FFF;
    --text-black: #000;
    --text-grey: #5a6e7f;
}

/* Regole di debug */

.box {
    background-color: var(--primary-light-color);
    padding: 2rem;
    border-radius: 2rem;
}

.box2 {
    padding: 1rem;
}

.bg-purple{
    background-color: var(--secondary-color);
}

.bg-white{
    background-color: var(--text-white);
}

/* Regole di CSS */

header.site-header {
    background-color: var(--primary-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 5rem;
}

header .container{
    height: 100%;
}

header .container i{
    font-size: 2rem;
}

.header-nav{
    display: none;
}

.header-list{
    list-style: none;
}

.header-list li a{
    margin-left: 1rem;
}

.txt-white{
    color: var(--text-white);
}

.txt-black{
    color: var(--text-black);
}

.txt-purple{
    color: var(--secondary-color);
}

.txt-align-center{
    text-align: center;
}

.line-height{
    line-height: 2rem;
}

.btn{
    padding: 0.5rem 1.5rem;
    border-radius: 4rem;
}

.btn-white{
    background-color: var(--text-white);
}

.btn-blue{
    background-color: #3684fd;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 0 2rem;
}

main {
    padding-top: 100px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.center {
    align-items: center;
}

#intro{
    margin-bottom: 3rem;
}
#intro .box{
    margin-bottom: 1rem;
}

#intro .card .box img{
    width: 60%;
    display: block;
    margin: 2rem auto -2rem;
}

.link-style{
    text-decoration: none;
}

.title-size{
    font-size: 1.5rem;
}

.title-size2{
    font-size: 3rem;
}

.icon-size{
    font-size: 4rem;
}

.txt-blue{
    color: var(--primary-color);
}

.txt-grey{
    color: var(--text-grey);
}

.margin{
    margin: 1rem 0 2rem;
}

#intro .box h3 {
    margin: 1rem 0;
}

#planning {
    background-color: var(--secondary-color);
    padding: 2rem 0;
}

#planning .column {
    margin: 1rem 0;
}

#planning .box2 img {
    width: 100%;
}

.planning-second-box{
    background-color: var(--text-white);
    border-radius: 3rem;
}

.planning-second-box *{
    margin: 1rem 0;
}

.btn.btn-purple i{
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

#planning .btn-purple{
    background-color: var(--secondary-color);
    padding: 1rem;
}

.planning-first-title {
    margin-top: 8rem;
    margin-bottom: 4rem;
}



#testimonial {
    padding: 3rem 0;
}

#testimonial .card {
    margin: 2rem 0;
}

.testimonial-first-title{
    margin: 2rem 0;
}

.testimonial-img{
    height: 18rem;
    width: 18rem;
    margin: auto;
    
}

.testimonial-img img{
    object-fit: cover;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
}

#testimonial .card.bg-purple{
    border-radius: 2rem;
}

#testimonial .card .box2 p{
    margin: 2rem 0;
}

#benefits {
    background-color: var(--secondary-color);
    padding: 4rem 0;
}

#benefits .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#benefits .cards .card  {
   border-radius: 30px;
}
#benefits .cards .card * {
    margin: 1rem 0 2rem;
}

.benefits-btn{
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 0.75rem 3rem;
}

#about .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#get-started {
    background-color: var(--secondary-color);
}

#get-started .debug-box2 {
    background-color: var(--secondary-light-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#get-started .container {
    padding: 2rem 0;
}

footer{
    background-color: var(--footer-color);
}

#footer .container {

    padding: 1rem 0;
}

footer .container .debug-box2 {
    margin: 1rem 0;
}


/* Regole Responsive */

@media screen and (min-width: 768px) {

    .container {
        max-width: 740px;
    }

    #intro .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }

    #intro .card {
        width: calc(100% / 3 - 1.5rem);
    }

    #intro .cards .card .box{
        height: 100%;
    }

    #intro .box .img img{
        margin-left: -2rem;
        margin-bottom: -3rem;
        margin-top: 3rem;
    }

    #intro .card:first-child {
        width: calc((100% / 3 * 2) - 1.5rem);
    }

    #testimonial .card {
        display: flex;
    }

    #testimonial .card div:last-child {
        flex-grow: 1;
    }

    .testimonial-box{
        padding: 3rem 0;
    }

    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    #benefits .card {
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 2) - 2rem);
    }

    #about .cards-container{
        display: flex;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    #about .card{
        width: calc((100% / 3) - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #about .card:first-child {
        width: calc((100% / 3 * 2) - 2rem);
    }

    header .header-icon{
        display: none;
    }

    .header-nav{
        display: block;
    }
}

@media screen and (min-width: 992px) {

    .container {
        max-width: 960px;
    }

    #intro .card:first-child {
        display: flex;
        justify-content: space-between;
    }
    
    #intro .cards .card .first.box{
        display: flex;
    }

    #intro .box .img{
        margin-top: 5rem;
        margin-left: 3rem;
    }

    #intro .box .img img{
        display: block;
        width: 100%;
    }

    #planning .columns {
        display: flex;
        align-items: flex-end;
        padding: 0 6rem;
    }

    #planning .column {
        width: calc(50% - 2rem);
        margin: 1rem;

    }


    #benefits .card {
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 3) - 2rem);
    }

    
}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1170px;
    }

    #intro .box .img img{
        width: 100%;
        display: block;
    }
}